@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .2s linear;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.5)), url(pic/janko-ferlic-h9Iq22JJlGk-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.h1 {
    font-family: 'Pangolin', cursive;
}

.navbar-nav {
    padding-left: 60%;
}

html {
    /* font-size: 62.5%;*/
    scroll-behavior: smooth;
}

#home {
    min-height: 100vh;
    width: 100vw;
}

